exportPattern("^[[:alpha:]]+")
importFrom(statmod, tweedie)
importFrom(nlme, fixef, ranef)
import(data.table)
import(ggplot2)
import(knitr)
import(magrittr)
import(speedglm)
import(stats)
import(cplm)
importFrom(lme4, nobars, glFormula, findbars, isNested)
importFrom("methods", "as")
importFrom("utils", "packageVersion")
export(ranef, fixef, nobars, glFormula, findbars, isNested,
       hierCredibility, hierCredGLM, hierCredTweedie, tweedieGLMM, adjustIntercept,
       BalanceProperty, NrUnique, is.formula)

S3method(print, hierCredibility)
S3method(print, hierCredTweedie)
S3method(print, hierCredGLM)
S3method(print, BalanceProperty)
S3method(summary, hierCredibility)
S3method(summary, hierCredTweedie)
S3method(summary, hierCredGLM)
S3method(predict, hierCredibility)
S3method(predict, hierCredTweedie)
S3method(predict, hierCredGLM)
S3method(ranef, hierCredibility)
S3method(ranef, hierCredTweedie)
S3method(ranef, hierCredGLM)
S3method(fixef, hierCredTweedie)
S3method(fixef, hierCredGLM)
S3method(weights, cpglm)
S3method(weights, speedglm)
S3method(weights, hierCredGLM)
S3method(weights, hierCredTweedie)
S3method(fitted, hierCredibility)
